@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(36, 37, 38);
  color: white;
}
